body {
  margin: 0;
  background-color: var(--main-background-color);
  color: white;
  font-family: sans-serif;
}

.task-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  /* display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh; */
}

.task-details {
    flex: 1;
  background-color: var(--main-background-color);
  padding: 20px;
  border-radius: 12px;
  color: var(--main-font-color);
}

.task-info p {
  margin: 0.5rem 0;
}

.task-actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.task-actions button {
  background: #333;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.task-comment {
  margin-top: 2rem;
}

.task-comment textarea {
  width: 100%;
  min-height: 100px;
  padding: 0.5rem;
  background: #222;
  color: white;
  border: 1px solid white;
  resize: vertical;
}

.task-card.active {
  background-color: #4a90e2;
  color: white;
}


/* Mobile-Optimierung */
@media (max-width: 650px) {
  .task-container {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
  }


  .menu-toggle {
    display: block;
  }

}
