@import url("variables.css");
@import url("./html/action-buttons/nav-action-buttons/nav-action-button.css");
@import url("./html/action-buttons/aside-action-buttons/aside-action-button.css");
@import url("./html/footer/footer.css");
@import url("./html/nav/nav.css");
@import url("./html/aside/aside.css");
@import url("./html/body/body.css");
@import url("./html/task/task.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}