@import url("variables.css");
@import url("./html/action-buttons/nav-action-buttons/nav-action-button.css");
@import url("./html/action-buttons/aside-action-buttons/aside-action-button.css");
@import url("./html/components/footer/footer.css");
@import url("./html/components/nav/nav.css");
@import url("./html/components/aside/aside.css");
@import url("./html/components/body/body.css");
@import url("./html/components/task/task.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}