:root {
    --main-font: sans-serif, Arial, Helvetica;
    --main-font-color: #f1f1f1;
    --aside-action-button-background-color: #2a2a2a;
    --aside-action-button-color: #78363681;
    --main-background-color: #1e1e1e;
    --hover-background-color: #353535;
}