.task-aside {
  width: 270px;
  min-width: 270px;
  max-height: calc(100vh - 300px);
  padding-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;

}

.task-card {
  background-color: var(--second-background-color);
  border-left: 4px solid #3a9efd;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  margin-bottom: 0.8rem;
  font-size: 0.95rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  transition: background-color 0.2s, transform 0.2s;
  cursor: default;
  overflow: hidden;
}

.task-card:hover {
  background-color: var(--hover-background-color);
  transform: translateY(-1px); /* Alternative zu scale */
  box-shadow: 0 2px 6px rgba(0,0,0,0.4); /* Optional schöner Hover */
}

/* Scrollbar modern und unauffällig */
.task-aside::-webkit-scrollbar {
  width: 8px;
}

.task-aside::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.hidden-mobile {
  display: none;
}


/* Sobald der Bildschirm größer als 645px ist → sichtbar */
@media (min-width: 650px) {
  .hidden-mobile {
    display: block;
  }
}