.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-background-color);
}

.navbar-logo {
  padding-left: 20px;
}

.navbar-links a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 20px;
    
}
